<div class="row">
  <div class="columnOne">
    <nav class="navigation">
      <ul class="mainmenu">
        <li><a [routerLink]="">Breeds</a>
          <ul class="submenu">
            <div *ngFor="let item of catBreeds">
              <li><a [routerLink]="" (click)="selectBreed(item)">{{item.name}}</a></li>
            </div>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="columnTwo" align="left">
    <div *ngIf="selectedBreed[0] && selectedCatBreedInfo[0]">
      <h1>{{selectedCatBreedInfo[0].breeds[0].name}}</h1>
      <table border="1" style="width: 60%">
        <colgroup>
           <col span="1" style="width: 45%;">
           <col span="1" style="width: 5%;">
           <col span="1" style="width: 5%;">
           <col span="1" style="width: 5%;">
        </colgroup>
        <tr>
          <th>Description</th>
          <th>Child Friendliness Score</th>
          <th>Hospital URL</th>
          <th>Wikipedia URL</th>
        </tr>
        <tr>
          <td>{{selectedCatBreedInfo[0].breeds[0].description}}</td>
          <td>{{selectedCatBreedInfo[0].breeds[0].child_friendly}}</td>
          <td><a href="{{selectedCatBreedInfo[0].breeds[0].vcahospitals_url}}">{{selectedCatBreedInfo[0].breeds[0].vcahospitals_url}}</a></td>
          <td><a href="{{selectedCatBreedInfo[0].breeds[0].wikipedia_url}}">{{selectedCatBreedInfo[0].breeds[0].wikipedia_url}}</a></td>
        </tr>
        
      </table>   
      <img id="myimage" [src]='catimage' [width]=500 [height]='catimageheight' [alt]='catimageid' />      
    </div>
  </div>