<div class="row">
  <div class="columnOne">
    <nav class="navigation">
      <ul class="mainmenu">
        <li><a [routerLink]="">Breeds</a>
          <ul class="submenu">
            <div *ngFor="let item of catBreeds">
              <li><a [routerLink]="" (click)="selectBreed(item)">{{item.name}}</a></li>
            </div>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div *ngIf="selectedBreed[0] && selectedCatBreedInfo[0]">

    <div class="columnTwo" align="left">
      <h1>{{selectedCatBreedInfo[0].breeds[0].name}}</h1>
      <div class="imgcontainer">
        <img id="myimage" [src]='catimage' [alt]='catimageid' />
      </div>
      <table class="catdetails">
        <tr>
          <th>Description</th>
        </tr>
        <tr class="description">
          <td>{{selectedCatBreedInfo[0].breeds[0].description}}</td>
        </tr>
        <tr>
          <th>Child Friendliness Score</th>
        </tr>        
        <tr>
          <td>{{selectedCatBreedInfo[0].breeds[0].child_friendly}}</td>
        </tr>
        <tr *ngIf="selectedCatBreedInfo[0].breeds[0].vcahospitals_url">
          <th>Hospital URL</th>
        </tr>
        <tr *ngIf="selectedCatBreedInfo[0].breeds[0].vcahospitals_url">
          <td><a
              href="{{selectedCatBreedInfo[0].breeds[0].vcahospitals_url}}">{{selectedCatBreedInfo[0].breeds[0].vcahospitals_url}}</a>
          </td>
        </tr>
        <tr>
          <th>Wikipedia URL</th>
        </tr>
        <tr>
          <td><a
              href="{{selectedCatBreedInfo[0].breeds[0].wikipedia_url}}">{{selectedCatBreedInfo[0].breeds[0].wikipedia_url}}</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>